<div class="create-building-form">
  <h2>Create New Building</h2>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

  <form (ngSubmit)="submitForm()">
    <label>
      Name*:
      <input [(ngModel)]="building.name" name="name" required />
    </label>

    <label>
      Street Name*:
      <input [(ngModel)]="building.streetName" name="streetName" required />
    </label>

    <label>
      House Number*:
      <input [(ngModel)]="building.houseNumber" name="houseNumber" required />
    </label>

    <label>
      Postal Code*:
      <input [(ngModel)]="building.postalCode" name="postalCode" required />
    </label>

    <label>
      City*:
      <input [(ngModel)]="building.city" name="city" required />
    </label>

    <label>
      Country*:
      <input [(ngModel)]="building.country" name="country" required />
    </label>


    <label>
      Construction Year:
      <input type="number" [(ngModel)]="building.constructionYear" name="constructionYear" />
    </label>

    <label>
      Total Area (m²):
      <input type="number" [(ngModel)]="building.totalArea" name="totalArea" />
    </label>

    <label>
      Floors:
      <input type="number" [(ngModel)]="building.floors" name="floors" />
    </label>

    <label>
      Description:
      <textarea [(ngModel)]="building.description" name="description"></textarea>
    </label>
    <label for="latitude">Latitude:</label>
    <input type="number" id="latitude" [(ngModel)]="building.latitude" name="latitude">

    <label for="longitude">Longitude:</label>
    <input type="number" id="longitude" [(ngModel)]="building.longitude" name="longitude">
    <button type="submit">Create</button>
  </form>
</div>
