<!-- file-view.component.html -->
<div class="layout">
  <app-sidebar (viewFileEvent)="selectFileToView($event)"></app-sidebar>
  <div class="main-area">
    <div class="file-view-container">

      <!-- Not Found Message -->
      <div *ngIf="notFound" style="padding: 2rem;">Document Not Found</div>
      <!-- Main File Content -->
      <div class="file-main-content" *ngIf="selectedFile">

        <!-- PDF Viewer -->
        <section class="pdf-viewer">
          <pdf-viewer
            [src]="selectedFile.url"
            [show-all]="true"
            style="display: block; height: 100%; width: 100%;">
          </pdf-viewer>

        </section>

        <!-- Metadata Panel-->
        <aside class="metadata-panel">
          <h3>Metadata</h3>
          <div
            class="metadata-item"
            *ngFor="let meta of selectedFile.metadata || []">
            <strong>{{ meta.label }}</strong>: {{ meta.value }}
          </div>

          <div class="meta-actions">
            <button class="download-btn" (click)="downloadFile()">Download</button>
            <button class="delete-btn" (click)="deleteFile()">Delete</button>
          </div>
        </aside>

        </div>
      </div>
    </div>
  </div>
